/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    background: #d4c2b6;
}
h1 {
    border-bottom: 2px solid #F1EBB9;
    display: inline;
    color: #F1EBB9;
    font-weight: normal;

}
.wrapper {
    background: #fbfaf2;
    width: 990px;
    margin: 0px auto;
}
.logo {
    float: left;
    margin: 20px 5px 1px 83px;
}
.nav { 
    font-family: Avenir, Helvetica, sans-serif;
    margin: 135px 40px 30px;
    padding-left: 40px;
}
.nav a {
    color: #631F0C;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px; 
    margin:30px;
}

.container-header {
    background: #fbfaf2;
    padding: 5px;
}

.container {
    background: #631F0C;
    margin-top: 1px;
    margin-bottom: 8px;
    text-align: center;
}
.container-footer {
    background: #FBFAF2;
    padding: 30px 270px 50px 270px;
    color: #631F0C;
    font-size: 14px;
}

.container-social-media {
    padding-left: 150px;
    padding-top: 10px;


}
.container-social-media img {
    margin-right: 10px;
   
}
.container-social-media a {
     border-bottom: none;

}


.headline-img-column {
    position: relative;
    float: left;
}

.headline-img-column figure {
    margin: 0;
}


.section-column1 {
    padding-top: 2px;
    position: relative;
    float: left;
    padding: 50px 1px 0px 50px;
}

.section-column2 {
    position: relative;
    float: left;
    color:#FFFFFF;
    width: 493px;
    text-align: left;
    padding: 55px 93px 100px 1px;
    font-family: Avenir, Helvetica, sans-serif;
}

.section-column2 p {
    padding-top: 10px;
}

.section-column3 {
    padding: 65px;
}


figcaption {
    color: #F1EBB9;
    font-family: Avenir, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 20px;

}

/* End of index */



h1 {
    border-bottom: 2px solid #F1EBB9;
    display: inline;
    color: #F1EBB9;
    font-weight: normal;
}

.section1-column-rococo {
    position: relative;
    float: left;
    color:#FFFFFF;
    width: 493px;
    text-align: left;
    padding: 55px 93px 50px 1px;
    font-family: Avenir, Helvetica, sans-serif;

}
.section1-column-rococo p{
    padding-top: 10px;
}

.section2-column-rococo {
    padding: 10px 50px 10px 93px;

}

.section2-column-rococo img {
    padding-top: 50px;

}



.section3-column-rococo {
    position: relative;
    float: left;
    padding: 10px 10px 60px 93px;

}

.section4-column-rococo {
    position: relative;
    float: left;
    padding: 10px 10px 50px 70px;

}

.section5-column-rococo {
    position: relative;
    float: left;
    padding: 10px 10px 50px 70px;
}

.section-image-links {
    color: #F1EBB9;
}
.section-image-links:hover {
    color: #fff;
    text-decoration: none;
}

/* End of Rococo Room */

.section-column-giftcard {
    position: relative;
    float: left;
    color:#FFFFFF;
    width: 493px;
    text-align: left;
    padding: 55px 93px 10px 1px;
    font-family: Avenir, Helvetica, sans-serif;
}

.section-column-giftcard p{
    padding-top: 10px;
}

.section-column1-giftcard img {
    position: relative;
    float: left;
    padding: 50px 1px 0px 230px;
}

.form-field {
    padding: 5px;
    text-align: left;
}
.form-field label {
    padding-left: 280px;
    color: #fff;
    display: inline-block;
    width: 148px;
}

.form legend {
    text-align: left;
    padding-top: 20px;
    padding-left: 280px;
    padding-bottom: 20px;
    color: #F1EBB9;
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 20px;
}

.submit {
    text-align: left;
    padding: 30px 0px 89px 550px;
   
}

.form input {
    width: 300px;
}

.container-social-media > a {
    text-decoration: none;
}

/* End of Giftcard */

.section-column-menu {
    padding-top: 40px;
}

.section-column-menu h1 {
    color: #ffffff;
    border-bottom: none;
    font-weight: normal;
}

.section-column1-menu {
    position: relative;
    float: left;
    padding: 35px 5px 0px 50px;

} /* leaf */

.section-column2-menu {
    position: relative;
    float: left;
    color:#FFFFFF;
    width: 345px;
    text-align: left;
    padding: 30px 43px 110px 1px;
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 15px;
}
.price {
    right: -30px;
    position: relative;
    float: right;
}

.section-column3-menu {
    position: relative;
    float: left;
    padding: 35px 5px;
    margin-right: 20px;
    width: 20px ;

} 

.section-column3-lunch-menu {
    position: relative;
    float: left;
    padding: 35px 5px;
    margin-right: 20px;
    width: 20px ;
}

.section-column3-lunch-menu img {
    margin-bottom: 559px;
}

.section-column3-drinks-menu {
    position: relative;
    float: left;
    padding: 35px 5px;
    margin-right: 20px;
    width: 20px ;
}
.section-column3-drinks-menu img {
    margin-bottom: 210px;
}

.section-column1-drinks-menu {
    position: relative;
    float: left;
    padding: 35px 0px 0px 50px;
    margin-right: 25px;
    width: 20px;
}

.section-column1-drinks-menu img {
    margin-bottom: 210px;
}

/* leaf */

.section-column4-menu {
    position: relative;
    float: left;
    color:#FFFFFF;
    width: 348px;
    text-align: left;
    padding: 30px 30px 110px 1px;
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 15px;
}

.section-column4-brunch-menu {
    position: relative;
    float: left;
    color:#FFFFFF;
    width: 348px;
    text-align: left;
    padding: 72px 30px 200px 50px;
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 15px;
}

.section-column4-desert-menu {
    position: relative;
    float: left;
    color:#FFFFFF;
    width: 348px;
    text-align: left;
<<<<<<< HEAD
    padding: 90px 30px 200px 50px;
=======
    padding: 90px 30px 130px 50px;
>>>>>>> origin/master
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 15px;
}

.section-column2-menu h3 {
    color: #F1EBB9;

}

.section-column4-menu h3 {
    color: #F1EBB9;

}

.section-column2-menu h4 {
    margin: 0px;
}

.section-column2-menu p {
    margin: 3px 0px 20px 0px;
}

.section-column4-menu h4 {
    margin: 0px;
}

.section-column4-brunch-menu h4 {
    margin: 0px;
}

.section-column4-brunch-menu p {
    margin: 3px 0px 20px 0px;
}

.section-column4-desert-menu h4 {
     margin: 0px;
}

.section-column4-desert-menu p {
    margin: 3px 0px 20px 0px;
}


.section-column4-menu p {
    margin: 3px 0px 20px 0px;
    
}

.span {
    padding-left: 5px;
}


.bottom-row {
    /*padding: 50px;*/
}


/* End of menu*/

/* Contact Sheet */

.section-column1-contact {
    position: relative;
    float: left;
    color:#FFFFFF;
    width: 350px;
    text-align: left;
    padding: 50px 50px 100px 1px;
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 15px;
}


.section-column2-contact {
    position: relative;
    float: left;
    color:#FFFFFF;
    width: 350px;
    text-align: left;
    padding: 55px 30px 100px 70px;
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 15px;

}

.section-column1-contact h3 {
    border-bottom: 2px solid #F1EBB9;
    display: inline;
    color: #F1EBB9;
    font-weight: normal;
    
}

.section-column2-contact h3 {
    border-bottom: 2px solid #F1EBB9;
    display: inline;
    color: #F1EBB9;
    font-weight: normal;
    
}

.section-column2-contact p {
    line-height: 10px;
}

.section-column1-contact p {
    line-height: 10px;
}


h2 {
    color: #F1EBB9;
    font-weight: normal;
    display: inline;
}

.map {
    position: relative;
    float: left;
    margin-right: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

.first-p {
    margin-top: 20px;
}


.rococo-head {
    margin-top: 20px;
}

.menu-btn {
    display: block;
    float: left;
    width: 12.5%;
    text-align: center;
    position: relative;
    transition: width 1s;
}
.menu-btn .menu-text {
    display: none;
}
.menu-btn.active .menu-text {
    display: inline;
}
.menu-btn figure {
    max-width: 100%;
    overflow: hidden;
}
.menu-btn figcaption {
    color: #631F0C;
    font-weight: 600;
}
.menu-btn.active {
    width: 50%;
}
.menu-btn.active:after {
    content: '';
    border: 20px solid transparent;
    border-top-color: #fff;     
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
}

.section-menu {
    display: none;
}
.section-menu.active {
    display: block;
}


/*
.section-column2-contact h2 {
    padding-bottom: 40px;
}

.section-column2-contact p {
    margin: 0px;
    padding-bottom: 10px;
}
*/

.time {
    right: 0px;
    position: relative;
    float: right;
}

/* End of Contact Sheet */

.section-column1-gallery {
    padding-top: 2px;
    position: relative;
    float: left;
    padding: 50px 1px 0px 50px;
}

.section-column2-gallery {
    position: relative;
    float: left;
    width: 493px;
    text-align: left;
    padding: 55px 300px 50px 1px;
    font-family: Avenir, Helvetica, sans-serif;

}

.section-column3-gallery {
    position: relative;
    float: left;
    color:#FFFFFF;
    width: 224px;
    text-align: left;
    padding: 20px 60px 100px 100px;
    font-family: Avenir, Helvetica, sans-serif;

}

.section-column4-gallery {
    position: relative;
    float: left;
    color:#FFFFFF;
    width: 224px;
    text-align: left;
    padding: 20px 60px 100px 1px;
    font-family: Avenir, Helvetica, sans-serif;

}

.section-column3-gallery img {
    padding-bottom: 60px;
}

.section-column4-gallery img {
    padding-bottom: 60px;
}

.confirmation {
    color: #631F0C;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
}

form  > button {
    background-color: #d4c2b7;
    font-family: Avenir, Helvetica, sans-serif;
    font-weight: bold;
    color: #622010;
}

.section-column-giftcard-confirmation{
    position: relative;
    float: left;
    color:#FFFFFF;
    width: 530px;
    text-align: left;
    padding: 55px 93px 10px 1px;
    font-family: Avenir, Helvetica, sans-serif;

}
.section-column-giftcard-confirmation p{
    padding-top: 10px;
    font-size: 20px;
    padding-bottom: 100px;
}

.section-column1-confirmation {
    padding-top: 2px;
    position: relative;
    float: left;
    padding: 50px 1px 0px 50px;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
